/* 顶部导航栏 */
.head-navigation {
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid #ededed;
    padding: 0 50px;
    position: fixed;
    z-index: 99;
}

.nav-title,
.nav-directory {
    display: inline-block;
    line-height: 60px;
    text-align: center;
}

.nav-title {
    font-size: 25px;
}

.nav-directory {
    float: right;
    font-size: 15px;
}

.nav-bar-right > li {
    display: inline;
}

.nav-brand-title {
    color: black;
}

.nav-item-name {
    color: #777777;
    margin: 0 10px;
}

.nav-item-name:hover,
.nav-brand-title:hover {
    color: green;
}

/* 下方内容 */
.block-left,
.block-right {
    height: 100%;
    padding-top: 60px;
}

.block-left {
    width: 25%;
    float: left;
    background: white;
    position: fixed;
}

.block-right {
    width: 75%;
    float: right;
    position: relative;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.block-right > .content,
.block-left > .content {
    height: 100%;
}

.site-info {
    margin: 35px;
    border-radius: 15px;
    height: 90%;
    background: #e5e5e5;
    text-align: center;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-top: 80px;
}

.recommend-content {
    height: 100%;
    width: 100%;
    position: relative;
    background: white;
    padding: 35px;
}

.home-first-recommend {
    height: 200px;
    background: #777777;
    border-radius: 15px;
    overflow: hidden;
}

.recommend-table {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    position: relative;
    margin-bottom: 35px;
}

.recommend-item {
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    position: relative;
}

.recommend-item > img {
    height: 58%;
}

.home-first-recommend:hover,
.recommend-item:hover {
    box-shadow: 0 2px 5px 3px #e5e5e5;
}

.recommend-item-title {
    font-size: 20px;
    color: #202325;
    font-weight: bold;
    margin: 5px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.recommend-item-other {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    justify-content: space-between; /*决定子元素两端对齐，均匀间隔*/
}

.recommend-item-author,
.recommend-item-date {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #9d9d9d;
}

/* 文章列表页 */
.post-list-container {
    padding-top: 35px;
    padding-bottom: 60px;
    padding-right: 35px;
}

.post-list-item {
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
}

.post-list-item > a {
    text-decoration: none;
}

.post-list-item-title {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #202325;
}

.post-list-item-desc {
    display: block;
    font-size: 15px;
    color: #777777;
    margin-top: 10px;
}

.list-item-tags-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-item-tags {
    display: inline-flex;
    align-items: center;
    height: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 13px;
    padding: 0 8px;
    font-size: 15px;
    color: #2e6da4;
}

.list-item-tags:hover {
    color: #4cae4c;
    text-decoration: none;
}

.post-list-item-meta {
    font-size: 10px;
    color: #777777;
}