---
layout: base
title: 首页
description: "相信坚持的力量"
---

<div class="recommend-content">

    {% for firstRecommend in site.data.first-recommend%}
    <a href="{{ firstRecommend.href }}" title="{{ firstRecommend.title }}">
        <div class="home-first-recommend"
            style="background-image: url('{{ firstRecommend.img }}')">
            <div class="home-first-recommend-title-div">
                {% if firstRecommend.logo %}
                <img class="home-first-recommend-logo" src="{{ firstRecommend.logo }}"/>
                {% endif %}
                <span class="home-first-recommend-title">{{ firstRecommend.title }}</span>
            </div>
        </div>
    </a>
    {% endfor %}

    <div class="recommend-table">
        {% for recommend in site.data.recommend %}
        <a href="{{ recommend.href }}">
            <div class="recommend-item">
                <img src="{{ recommend.img }}" width="100%" height="68%"/>
                <span class="recommend-item-title">{{ recommend.title }}</span>
                <div class="recommend-item-other">
                    <span class="recommend-item-author">{{ recommend.author }}</span>
                    <span class="recommend-item-date">{{ recommend.date }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>

<!--
    这个方式后续尝试瀑布流布局
    {% for recommend in site.data.recommend %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="recommend-table-row">
            <div class="recommend-item-left">
                <a href="{{ recommend.href }}">
                    <img src="{{ recommend.img }}"/>
                    {{ recommend.title }}
                </a>
            </div>
            {% else %}
            <div class="recommend-item-right">
                <a href="{{ recommend.href }}">
                    <img src="{{ recommend.img }}"/>
                    {{ recommend.title }}
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
-->