<!-- Navigation -->
<nav class="head-navigation">
    <div class="nav-container">
        <div class="nav-title">
            <a class="nav-brand" href="{{ site.baseurl }}/">
                <span class="nav-brand-title">{{ site.title }}</span>
            </a>
        </div>
        <div class="nav-directory">
            <ul class="nav-bar-right">
                {% for item in site.data.directory %}
                <li>
                    <a href="{{ site.baseurl }}/{{ item.layout }}">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</nav>
